.stars {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 4px;
  height: $starHeight;

  &__star {
    width: $starWidth;

    background: url("/images/star-active.svg") center no-repeat;

    &:last-child {
      background-image: url("/images/star.svg");
    }
  }
}
