.card {
  display: flex;
  flex-direction: column;
  width: $cardWidth;
  padding: 15px 14px;

  background: $white;
  border-radius: 5px;
  border: 1px solid $lightGrey;

  &__photo {
    width: $imageWidth;
    height: $imageHeight;
    margin: 0 auto 38px;
    padding: 12px 0 4px;

    border: 3px solid transparent;
    border-radius: 4px 4px 0 0;

    transition: transform 1s linear;

    &:hover {
      transform: scale(1.2);
      border-color: $lightGrey;
    }
  }

  &__title {
    padding-bottom: 5px;

    @include font(12px, 15px, 500);
  }

  &__identity {
    padding-bottom: 15px;

    @include font(11px, 13px);
  }

  &__rating {
    @include flexBetween;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  &__feedback,
  &__cost {
    @include font(11px, 13px);
  }

  &__price {
    @include flexBetween;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  &__amount {
    @include font(16px, 19px, 700);
  }

  &__purchase {
    display: grid;
    align-items: center;
    justify-content: center;
    width: $buttonWidth;
    min-height: $buttonHeight;

    @include font(14px, 16px, 700);
    text-transform: uppercase;
    color: $white;

    background-color: $blueCyan;
    border-radius: 5px;
    border: 1px solid $blueCyan;

    transition: color 1s linear, background-color 1s linear;

    &:hover {
      color: $blueCyan;

      background-color: $white;
    }
  }
}

@media (max-width: 530px) {
  .card {
    justify-self: center;
    align-self: center;
  }
}
