@import "reset";

@import "variables";

@import "mixins";

@import "header";

@import "nav";

@import "card";

@import "stars";

body {
  font-family: Roboto, sans-serif;
  @include font;
  color: $black;
}

.main {
  background: $white;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($cardWidth, 1fr));
    grid-gap: $cardRowGap $cardColumnGup;

    &--container {
      max-width: $containerWidth;
      margin: 0 auto 50px;
      padding: 0 $containerFrame;
    }
  }
}
